@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&family=Quicksand:wght@300;400;500;600;700&display=swap');
:root{
    --playfair:'Playfair Display',serif;
    --Quicksand: 'Quichsand',sans-serif;
    --dark:   #3c393b;
    --exDark:#444444;
}
*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}
body{
    line-height: 1.4;
    color: var(--dark);
    padding: 10px;
}
.img{
    max-width: 35%;
    display: block;
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
   
}
header{
    min-height: 100vh;
    background:url(../image/4.jpg) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    
}
.navbar{
    background: rgba(0, 0, 0 , 0.6);
    padding: 1.2rem;

}
.t{
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
}
.navbar.brand{
    font-size: 2rem;
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: var(--Playfair);
    letter-spacing: 1px;
}
.navbar-bar{
    padding:0.5rem 0 0.2rem 0 ;
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-between ;
    width: 20%;

}
.navbar-bar a{
 text-transform: capitalize;
 font-size: 12px;
 font-family: var(--Roboto);
 font-weight: 500;
 color: #fff;
 text-decoration: none;
 display: inline-block;
 letter-spacing: 1px;
 transition: opacity 0.5s ease ;
 
}
.navbar a:hover{
    opacity: 0.7;
}
.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.banner-title{
    font-size: 3rem;
    font-family: var(--Playfair);
    line-height: 1.2;
}
.banner-title span{
 font-family: var(--playfair);
 color: red      ;
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}
.banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
}
.search-input{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border:none;

}
.search-input::placeholder{
    text-transform: capitalize;
}
.search-btn{
    width: 40px;
    font-size: 1.1rem;
    color:var(--dark);
    border: none;
    background: transparent;
    
    outline: 0;
    cursor: pointer ;
}
.fas{
    color: black;
    font-size: 50px;
}
.blog{
    background: #f9f9f9;
    padding: 4.5rem 1rem;
}
.blog-content{
    margin: 2rem 0;
}
.blog-img{
    position: relative;
}
.blog-img span{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--exDark);
    color: red;
    font-size: 1.4rem;
    padding: 0.3rem 0.6rem;
}
.blog-texte{
    margin: 2.2rem 0;
    padding: 0 1rem;
}
.blog-texte span{
    font-weight: 300;
    display: block;
    padding-bottom: 0.5rem;
}
.blog-texte h2{
    font-family: var(--Playfair);
    padding: 1rem 0;
    font-size: 1.65rem;
    font-weight: 500;
    color: red;
}
.blog-texte p{
    font-weight: 300;
    font-size: 1.1rem;
    opacity: 0.9;
    padding-bottom: 1.2rem;
}
.blog-texte a{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--dark);
    display: inline-block;
    background: var(--dark);
    color: #fff;
    padding: 0.55rem 1.2rem;
    transition: all 0.5s ease;
}
.blog-texte a:hover{
    background: var(--exDark);
}

.blog-img img{
    transition:  all 0.5s ease;
}
.article-blog:hover img{
    transform: scale(1.05);
}
.span1{
    font-family: var(--playfair);
    color: red      ;
}
.article-blog{
    margin-bottom: 10px;
}
footer{
    background: var(--exDark);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}
.social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}
.social-links a{
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
}

.social-links a:hover{
    background: #fff;
    color: var(--exDark);
}
.footer span{
    margin-top: 1rem;
    display: block;
    font-family: var(--Playfair);
    letter-spacing: 2px;
}